<div *ngIf="!passwordChange">
<div class="wrap-login100">
  <div
    *ngIf="!showEnterOTP"
    class="login100-form validate-form p-l-55 p-r-55 p-t-140 p-b-70"
  >
    <span class="login100-form-title"> Forgot Password </span>
    <div class="form-group">
      <div
        class="wrap-input100 validate-input m-b-16"
        data-validate="Please enter email"
      >
        <input
          class="input100"
          type="email"
          name="email"
          id="email"
          [(ngModel)]="email"
          placeholder="Email"
          required
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <span class="focus-input100"></span>
      </div>
    </div>

    <div class="container-login100-form-btn">
      <button (click)="sendOTP()" class="login100-form-btn mt-3" type="button">
        Send OTP
      </button>
    </div>

    <div class="flex-col-c p-t-40 p-b-20">
      <a href="#" (click)="goToLoginPage()" class="txt3"> Back to login </a>
    </div>
  </div>

  <div
    *ngIf="showEnterOTP"
    class="login100-form validate-form p-l-55 p-r-55 p-t-140 p-b-70"
  >
    <span class="login100-form-title"> Enter OTP </span>
    <div class="loop-box d-flex justify-content-between">
      <div class="npm install ng2-toastr@4.1.2 --save">
        <div class="wrap-input100 validate-input m-b-16">
          <input class="input100" type="number" [(ngModel)]="optNumber" />
          <span class="focus-input100"></span>
        </div>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn mt-3" type="submit" (click)="submit()">
          Submit
        </button>
      </div>

      <div class="flex-col-c p-t-40 p-b-20">
        <a href="#" (click)="goToLoginPage()" class="txt3"> Back to login </a>
      </div>
    </div>
  </div>
</div>

</div>

<div *ngIf="passwordChange">
  <div class="form-group">
    <div
      class="wrap-input100 validate-input m-b-16"
      data-validate="Please enter email"
    >
      <input
        class="input100"
        type="text"
        name="mobile"
        id="mobile"

        [(ngModel)]="password"
        placeholder="Emter your password"
        required
      />
      <span class="focus-input100"></span>
    </div>
  </div>
  <div class="form-group">
    <div
      class="wrap-input100 validate-input m-b-16"
      data-validate="Please enter email"
    >
      <input
        class="input100"
        type="email"
        name="email"
        id="email"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm Password "
        required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <span class="focus-input100"></span>
    </div>
  </div>
  <div class="container-login100-form-btn">
    <button (click)="updatePassword()" class="login100-form-btn mt-3" type="button">
      Save Password
    </button>
  </div>
</div>
