<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-around mt-5 mb-5">
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-around mt-5 mb-5">
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-around mt-5 mb-5">
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
            <div class="card card-deck" style="width:25%">
                <img class="card-img-top ml-auto mr-auto mt-4" src="../../../assets/images/mv.jpg" alt="Card image cap"
                    style="width: 82%; height: 25vh;">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <ul class="card-text text-center list-unstyled">
                        <li class="mb-1">date : 07/30/2023</li>
                        <li class="mb-1">languages : hindi</li>
                        <li class="mb-1">ratings : 4.5 </li>
                        <li class="mb-1">city : pune</li>
                    </ul>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
        </div>
    </div>
</div>